html {
    margin: 0px;
    padding: 0%;
}
body {
    background-color: rgb(0, 10, 70);
    color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}


/* HEADER */
.header {
    overflow: hidden;
    font-size: 64px;
    margin: 0;
    color: white;
    background-color: rgba(0, 5, 35, 0.9);
}
.headerMobile {
    float: none;
}
.titleMobile {
    font-size: 32px;
    margin-left: calc(50% - 161.08px);
}

.header li {
    float: left;
    display: block;
    text-align: center;
}

.profile {
    padding: 10px;
    margin-left: calc(50% - 336px);
    float:left;
    position: relative;
    display: block;
}
.profileMobile {
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: calc(50% - 82px);
}

.profileImg {
    width: 64px;
    height: 64px;
    position: relative;
    top: 12px;
}
.profileImgMobile {
    padding: 0px;
    margin: 0px;
    width: 124px;
    height: 124px;
    font-size: 0;
}

#title {
    display: block;
    padding: 10px;
}

NAV
#tab {
    background-color: rgba(135, 140, 255, 0.9);
    overflow: hidden;
    font-size: 24px;
    transition: 0.3s;
}
.tabMobile a{
    font-size: 20px;
    padding: 6px;
    transition: 0.3s;
}
#tab a{
    color: black;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}
.tabComp a {
    padding: 12.25px;
}
#tab a:hover{
    background-color: rgba(29, 47, 148, 0.9);
    color: white;
}
#tab a.active{
    background-color: rgba(6, 71, 0, 0.9);
    color: whitesmoke;
}
.user {
    display: block;
    float: right;
    color: black;
    transition: 0.3s;
}
.tabComp button i {
    font-size: 32px;
    padding: 12.25px;
}
.tabMobile button i {
    padding: 9.25px;
    font-size: 20px;
}
#user.active {
    background-color: rgba(6, 71, 0, 0.9);
    color: whitesmoke;
}
#user:hover {
    color: white;
    background-color: rgba(29, 47, 148, 0.9);
}
.userButton {
    float: right;
    padding: 0px;
    border: 0px;
    background-color: rgba(135, 140, 255, 0);
}
.headerSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


/* CONTENT */

section.n1{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
section.n1Mobile {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
} 
section.n1 h2 {
    font-size: 42px;
}
section.n1Mobile h2 {
    font-size:32px; 
    text-align: center;
}
section.n1Mobile p {
    font-size:18px;
}
.n1Img{
    float: right;
    width: 300px;
    height: auto;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
}
.n1ImgMobile{
    margin-left: 50px;
    width: calc(100% - 100px);
    height: auto;
    float: none;
}

.imageS1{
    margin-left: 100px;
    margin-bottom: 25px;
}
.imageS1Mobile{
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 0px;
}

.imageS1 a img{
    padding: 10px;
    min-width: 200px;
    width: calc(100% - 70px);
    height: 300px; 
    object-fit: cover;
    float: none;
    border-radius: 25px;
    margin-bottom: 0px;
}
.imageS1 p{
    margin-top: 0px;
    margin-bottom: 50px;
}
.imageS1Mobile img{
    width: calc(100% - 40px);
}


/* FOOTER */
footer {
    background-color: rgba(0, 3, 51, 0.9);
    color: whitesmoke;
    font-size: 12px;
    margin: 0px;
    margin-bottom: 0px;
    border-top: 8px solid rgb(0, 27, 95);
    padding: 30px;
}
#w3 {
    position: relative;
    float: right;
    bottom: 105px;
}