
body {
    background-color: rgb(0, 10, 70);
    color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    margin: 0px;
}


/* HEADER */
.header {
    overflow: hidden;
    font-size: 64px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: white;
    background-color: rgba(0, 5, 35, 0.9);
}

.header li{
    float:left;
    display: block;
    padding: 10px;
}
#profile {
    margin-left: calc(50% - 320px);
    padding-top: 20px;
}
#profileImage {
    width: 64px;
    height: 64px;
}
#title {
    padding-left: 25px;
}
#tab {
    background-color: rgba(135, 140, 255, 0.9);
    overflow: hidden;
    font-size: 24px;
}
#tab a{
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 12.5px;
    transition: 0.3s;
    text-decoration: none;
}
#tab a:hover{
    background-color: rgba(29, 47, 148, 0.9);
    color: white;
}
#tab a.active{
    background-color: rgba(6, 71, 0, 0.9);
    color: whitesmoke;
}
#user {
    display: block;
    float: right;
    color: black;
    padding: 13.5px;
    font-size: 30px;
    transition: 0.3s;
}
#user.active {
    background-color: rgba(6, 71, 0, 0.9);
    color: whitesmoke;
}
#user:hover {
    color: white;
    background-color: rgba(29, 47, 148, 0.9);
}
.userButton {
    float: right;
    padding: 0px;
    border: 0px;
    background-color: rgba(135, 140, 255, 0.9);
}
.headerSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



section.n1{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
section.n1 h2 {
    font-size: 42px;
}
.imgRight {
    float: right;
    width: 300px;
    height: auto;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.imageS1{
    padding-left: 100px;
    margin-bottom: 100px;
    height: 300px;
}

.imageS1 img{
    padding: 10px;
    min-width: 300px;
    width: calc(50% - 70px);
    height: 300px; 
    object-fit: cover;
    float: left;
}