
body {
    background-color: rgb(0, 10, 70);
    color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    margin: 0px;
}


/* HEADER */
.header {
    overflow: hidden;
    font-size: 64px;
    margin: 0;
    color: white;
    background-color: rgba(0, 5, 35, 0.9);
}
.headerMobile {
    height: 56px;
}
.titleMobile {
    font-size: 32px;
}

.header li {
    float: left;
    display: block;
}

.profile {
    padding: 10px;
    margin-left: calc(50% - 336px);
    float:left;
    position: relative;
    display: block;
}
.profileMobile {
    padding: 0px;
    margin: 0px;
    margin-left: calc(50% - 160px);
    position: relative;
    bottom: 34px;
}

.profileImg {
    width: 64px;
    height: 64px;
    position: relative;
    top: 12px;
}
.profileImgMobile {
    padding: 0px;
    margin: 0px;
    width: 24px;
    height: 24px;
    font-size: 0;
}

#title {
    padding-left: 25px;
    float:left;
    display: block;
    padding: 10px;
}

NAV
#tab {
    background-color: rgba(135, 140, 255, 0.9);
    overflow: hidden;
    font-size: 24px;
    transition: 0.3s;
}
.tabMobile a{
    font-size: 16px;
    padding: 6px;
}
#tab a{
    color: black;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}
.tabComp a {
    padding: 12.25px;
}
#tab a:hover{
    background-color: rgba(29, 47, 148, 0.9);
    color: white;
}
#tab a.active{
    background-color: rgba(6, 71, 0, 0.9);
    color: whitesmoke;
}
.user {
    display: block;
    float: right;
    color: black;
    transition: 0.3s;
}
.tabComp button i {
    font-size: 32px;
    padding: 12.25px;
}
.tabMobile button i {
    padding: 9px;
    font-size: 16px;
}
#user.active {
    background-color: rgba(6, 71, 0, 0.9);
    color: whitesmoke;
}
#user:hover {
    color: white;
    background-color: rgba(29, 47, 148, 0.9);
}
.userButton {
    float: right;
    padding: 0px;
    border: 0px;
    background-color: rgba(135, 140, 255, 0);
}
.headerSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


/* CONTENT */

section.n1{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
section.n1 h2 {
    font-size: 42px;
}
.imgRight {
    float: right;
    width: 300px;
    height: auto;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.imageS1{
    margin-left: 100px;
    margin-bottom: 100px;
    height: 300px;
}

.imageS1 img{
    padding: 10px;
    min-width: 300px;
    width: calc(50% - 70px);
    height: 300px; 
    object-fit: cover;
    float: left;
    border-radius: 25px;
}